body
{
    margin: 0;
    background-color: #EBEDEF;
}
#header {
    position: fixed;
    top: 0px;
    height: 20px;
    width: 100%;
    background: green;
}
/*div*/
/*{*/
/*    background-color: white;*/
/*    !*border: 1px solid #969696;*!*/
/*    !*border-radius: 2px;*!*/
/*}*/
H2.widgetTitle
{
    color: #3C4B64;
    font-weight: lighter;
}
.ruleSetting
{
    width: 150px;
}
.ruleList
{
    border: 1px solid #969696;
    border-radius: 5px;
    background-color: white;
    padding: 20px 20px 20px 20px;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video__icon {
  position: absolute;
  width: 30px;
  }
/*   .video__icon .circle--outer {
    border: 1px solid #e50040;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
            animation: circle 2s ease-in-out infinite; } */
  .video__icon .circle--inner {
    background: #e50040;
    left: 15px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }
    .video__icon .circle--inner:after {
      content: '';
      display: block;
      border: 2px solid #e50040;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: -4px;
      left: -4px;
      position: absolute;
      opacity: .8;
      -webkit-animation: circle 2s ease-in-out .2s infinite;
              animation: circle 2s ease-in-out .2s infinite; }
  .video__icon p {
    color: #000;
    text-align: center; }

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }

  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }

@keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    }

  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    } }
