html {
    background-color: #EDEDF0;
}

body
{
    margin: 0;
    font-size: 100%;
    background-color: #EDEDF0;
}

#header {
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
}

div {
    white-space: pre;
}

#emoviz-sidebar-heading {
    font-weight: 500;
    color: #495057;
}

.widget-header {
    font-weight: 500;
    color: #495057;
    margin: 1rem;
}

.widget {
    border: 1px hidden #969696;
    border-radius: 5px;
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2);
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container-fluid {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.item1 {
    flex: 1 1 28%;
    box-sizing: border-box;
    width: 100px;
}

.item2 {
    flex: 2 1 30%;
    box-sizing: border-box;
}

.item2-no-shrink {
    flex: 2 0 30%;
    box-sizing: border-box;
}

.item3 {
    flex: 3 1 40%;
    box-sizing: border-box;
}

.item4 {
    flex: 4 1 50%;
    box-sizing: border-box;
}

.row {
  display: flex; /* equal height of the children */
  background-color: #EDEDF0;
}

.ruleList {
    border: 1px hidden #969696;
    background-color: white;
    overflow: scroll;
}

.ruleListSettings {
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.col {
  flex: 1; /* additionally, equal width */
  /*padding: 1em;*/
  border: solid;
    overflow: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
    flex-direction: row;
    padding: 10px 10px 0 10px;
}
.col-left {
  flex-basis: 25%;
    overflow: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
    flex-direction: row;
}
.sidebar {
  flex-basis: 15%;
    overflow: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
    flex-direction: row;
}
.content {
    flex: 1;
    display: flex;
    overflow: auto;
}
.box {
    display: flex;
    min-width: min-content; /* needs vendor prefixes */
    /*flex-basis: 20px;*/
}
div.body {
      	position: relative;  /* <------------------------- required */
    	background: silver;
      	flex: 1;
    }

    div.scrolled-body {
      	position: absolute;  /* <------------------------- required */
      	left: 0; top: 0; right: 0; bottom: 0;  /* <------- required */
      	overflow-x: auto;  /* <--------------------------- required */
    }

H2.widgetTitle
{
    color: #3C4B64;
    font-weight: lighter;
}

.ruleSetting
{
    width: 150px;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video__icon {
  position: absolute;
  width: 30px;
  }

/*   .video__icon .circle--outer {
    border: 1px solid #e50040;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
            animation: circle 2s ease-in-out infinite; } */

  .video__icon .circle--inner {
    background: #e50040;
    left: 15px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }

    .video__icon .circle--inner:after {
      content: '';
      display: block;
      border: 2px solid #e50040;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: -4px;
      left: -4px;
      position: absolute;
      opacity: .8;
      -webkit-animation: circle 2s ease-in-out .2s infinite;
              animation: circle 2s ease-in-out .2s infinite; }

  .video__icon p {
    color: #000;
    text-align: center; }

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }

  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }

@keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    }

  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    } }
